

<div class="container">
<div class="header">
<% if session[:user_id] == nil %>
<a href="/login">Login </a>
| <a href="/signup">Sign up </a>
<% elsif session[:user_id] %>
| <a href="/logout">Logout </a>
<% end %>
</div>

<h2>Edit your comment</h2>

<form action='/posts/<%=@the_post.id%>/comments/<%=@the_comment.id%>' method='post'>
  <input type="hidden" name="_method" value="put">
  <input type='text' name='description' value=<%=@the_comment.description%>/>
<input type='submit' value='Update'/>
</form>

<div class="footer"></div>
</div>