<div id="login_form">

<h2> Login </h2>
<form action='/login' method='post'>
  <b>Email: </b>
  <br><input type='text' name='user[email]'/><br>
  <b>Password: </b>
  <br><input type='password' name='user[password]'/><br>

  <input type='submit' value='Login'/>
</form>

</div>