<div id="signup_form">

<h2> Create an account </h2>
<form action='/signup' method='post'>
  First name: <input type='text' name='user[first_name]'/><br>
  Last name: <input type='text' name='user[last_name]'/><br>
  Age: <input type='text' name='user[age]'/><br>
  Language you want to practice: <input type='text' name='user[language]'/><br>
  Description: <input type='text' name='user[description]'/><br>
  Email: <input type='text' name='user[email]'/><br>
  Password: <input type='password' name='user[password]'/><br>
  Confirm password: <input type='password' name='user[password_confirmation]'/><br>
  URL of your photo: <input type='text' name='user[photo_url]'/><br>

  <input type='submit' value='Sign up!'/>
</form>

</div>