
html, body { height: 100%; }

.container {
  font-family: Architect;
  border-color: blue;
  height: 80%;
}

.header {
  display: absolute;
  padding-top: 1%;
  padding-bottom: 5%;
  width: 100%;
/*  background-color: #CCFFFF;*/
  background-color: black;
  margin: 0px;
}

.header #logo{
  float: left;
  width: 5%;
  vertical-align: middle;
  padding-left: 5%;
}

.header #bizname{
  color: rgb(0, 168, 255);
  margin-left: 10%;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.header .links{
  padding-left: 65%;
  padding-bottom: 20px;
  float: left;
}

.header .links a{
    color: white;
    font-weight: bold;
    padding-right: 20px;
}

a:link, a:visited{
    text-decoration: none;
}

.header a:hover{
  color: rgb(0, 168, 255);
}



.mainbodyindex {
  float: left;
/*  background-color: #ECFFFF;*/
  background: url("../mewe-co.jpg") no-repeat 100% 100% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  opacity:.80;
  -moz-opacity:.80;
  filter:alpha(opacity=80);
  width: 100%;
  height: 90%;
  padding: 40px;
  padding-bottom:15px;
}
/*source of image: http://mewe.co/wp-content/uploads/2015/04/new-nice-apartment-kitchens-with-and-kitchens-designed-for-entertaining-complement-nice-apartment.jpg*/


.mainbodyindex .welcome{
  color: white;
  text-shadow: -1px 0 black, 0 4px black, 4px 0 black, 0 -1px black;
  font-size: 20px;
}

.mainbodyindex #rental-list h1{
  font-size: 300%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: rgb(228, 214, 214);
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
  text-align: center
}

.mainbodyindex #rental-list ul, .mainbodyindex #rental-list ul a:visited, .mainbodyindex #rental-list ul a:link{
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-decoration: none;
    font-weight: bold;
}

.mainbodyindex #rental-list ul{
  padding-left: 25%;
  list-style-type: none;

}

.mainbodyindex #rental-list ul a:hover{
  color: rgb(0, 168, 255);
  font-size: 20px
}

.mainbodyindex #rental-list ul hr{
  width: 40%;
  margin-right: 720px;
}

/*.mainbody h1, h2{
  text-align: center;
}*/

.mainbodyshow {
  background: url("../white-room.jpg") no-repeat 100% 100% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
/*  opacity:.80;
  -moz-opacity:.80;
  filter:alpha(opacity=80);*/
/*  width: 100%;
  height: 90%;*/
  padding: 40px;
  padding-bottom:15px;
}

.mainbodyshow img{
  height: 500px;
/*  display: inline-block;*/
  float:left;
  padding-bottom: 30px;
}

.mainbodyshow #basicpropinfo{
  border: .5px solid black;
  font-size: 15px;
  margin-left: 40px;
  float:left;
  border: 1px solid;
  padding: 10px;
  border-radius: 3px;
}

.mainbodyshow #propmoreinfo{
  clear: both;

}

/*.mainbodyshow h1 {
  border: 1px solid black;
  margin-right: 800px;
  padding: 10px;
  border-radius: 5px;
}*/

#login_form, #signup_form{
  /*for ajax only:*/
  width: 30%;
  padding-left: 40px;
  line-height: 150%;
  background: url("../mewe-faded.jpg") no-repeat 100% 100% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  width: 100%;
  height: 70%;
  padding: 40px;
  padding-bottom:15px;
}

#login_form {
  width: 30%;
}

#signup_form {
  width:50%;
}


#signit {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
        -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
}


.footer {
  background-color: black;
  color: white;
  font-size: 10px;
  font-style: italic;
  clear: both;
  padding: 20px;
  height: 15px;
  width:100%;
/*  position:absolute;*/
  bottom:0;
  left:0;
}

#comments_section {
  background-color: #F1FAEF;
  text-align: left;
  padding: 10px;
  margin-left: 20px;
  width: 40%;
  border-radius: 5px;
}

#comments_section .comment_author_detail {
  font-style: italic;
  font-size: 12px;
}

#comments_section #commentlink{
  padding-left: 70%;
}

.mainbody_usershow{
  background: url("../white-room.jpg") no-repeat 100% 100% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}


.mainbody_usershow #userinfo{
  margin-top: 50px;
  float: left;
  width: 40%;
  margin:50px;
}

.mainbody_usershow img{
  margin-top: 50px;
  float: left;
  margin: 50px;
}

#new_post {
  line-height: 30px;
  margin: 0px;
  padding-left: 60px;
  background: url("../white-room.jpg") no-repeat 100% 100% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  height: 75%;
  padding-bottom:15px;
}


#new_post h1{
  text-align: center;
  margin: 0px;
  padding: 20px;
}

/*http://www.vectormu.com/nnh-content/uploads/nice/nice-outstanding-apartment-interior-kitchen-with-living-room.jpg*/