.container {
  font-family: Architect;
  border-color: blue;
}

.header {
  display: absolute;
  padding: 20px;
  width: 100%;
  background-color: #CCFFFF;
  margin: 0px;
}

#logo {
  display:block;
  width: 60px;
  margin-right: auto;
  margin-left: auto;
}


.mainbody{
  float: left;
  background-color: #ECFFFF;
  width: 100%;
  height: 70%;
  padding: 40px;
}

.mainbody h1, h2{
  text-align: center;
}


.footer {
  background-color: #CCFFFF;
  clear: both;
  padding: 10px;
}

#comments_section {
  background-color: #FFFFCC;
  width: 90%;
  border-radius: 30px
  text-align: center;
  padding: 10px;
}
