.container {
  font-family: Architect;
  border-color: blue;
}

.header {
  display: absolute;
  padding-top: 3%;
  padding-bottom: 5%;
  width: 100%;
  background-color: #CCFFFF;
  margin: 0px;

}

.header #logo{
  float: left;
  width: 5%;
  background-color: #CCFFFF;
  vertical-align: middle;
}

.header .links{
  padding-left: 80%;
  padding-bottom: 20px;
  float: left;
  background-color: #CCFFFF;
}

.header a{
    color: black;
    font-weight: bold;
}

.header a:link{
    text-decoration: none;
}

.header a:hover{
  font-size: large;
}

.header a:visited{
    text-decoration: none;
}



.mainbody{
  float: left;
  background-color: #ECFFFF;
  width: 100%;
  height: 70%;
  padding: 40px;
}

.mainbody h1, h2{
  text-align: center;
}


.footer {
  background-color: #CCFFFF;
  clear: both;
  padding: 10px;
}

#comments_section {
  background-color: #FFFFCC;
  width: 90%;
  border-radius: 30px;
  text-align: center;
  padding: 10px;
}
