<div class="container">



<div class="mainbodyindex">
  <p><div class="welcome">
  <% if session[:user_id] %>
Good to see you again, <%= User.find_by(id: session[:user_id]).first_name %>!
<% end %>
</div></p>

<div id="rental-list">
<h1> Latest Rentals </h1>


<ul>
<% @all_posts.each do |p| %>
 <p><li>
  <a href="/posts/<%=p.id%>"><%= p.title %>
 </a></li>
<em><%= p.location %></em>
</p>
<hr>

 <% end %>
</ul>

</div>
</div>

</div>