<div class="container">
<div class="header">
<% if session[:user_id] == nil %>
<a href="/login">Login </a>
| <a href="/signup">Sign up </a>
<% elsif session[:user_id] %>
| <a href="/logout">Logout </a>
<% end %>
</div>

<div class="welcome">
  <% if session[:user_id] %>
Good to see you again, <%= User.find_by(id: session[:user_id]).first_name %>!
<% end %>
</div>

<h1> All current rentals: </h1>

<ol>
<% @all_posts.each do |p| %>
 <p><li>
  <a href="/posts/<%=p.id%>"><%= p.title %>
 </a></li>
<em><%= p.location %></em>
</p>
 <% end %>
</ol>


<p><a href="/posts/new">Add your rental!</a><p>


<div class="footer"></div>
</div>