<div class="container">

<% if session[:user_id] %>

<h1> Rent out your place! </h1>



<form action="/posts" method="post">
Title: <input type="text" name="title"/>
Location: <input type="text" name="location"/><br>
Description: <input type="text" name="description"/><br>
Price per day: <input type="text" name="price"/><br>
Start date: <input type="text" name="startdate"/><br>
End date: <input type="text" name="enddate"/><br>
Photo URL: <input type="text" name="photourl"/><br>
<input type="submit" value="Add my post"/>
</form>

<% else %>

<div class="sorry"> Sorry, only members can create new posts. Please sign up at the link below:
<p><a href="/signup">Sign up</a></p>
</div>

<% end %>


</div>